{% extends "base.html" %}
{% block title %}Contact Us{% endblock %}

{% block content %}

<body>
    <h1>Contact Us</h1>
<div>
<img src="/static/images/piechart.png" alt="Pie chart" />
<img src="/static/images/Aderemi_net_9760.jpg" alt="Aderemi" />


<img src="/static/images/Ibrahim.png" alt="Ibrahim" />

<p>github:<a href="https://github.com/iaanimashaun">link</a></p>
<p>linkedin: <a href="https://www.linkedin.com/in/iaanimashaun/">link</a></p>

</div>


<div>
<img src="/static/images/Aderemi_net_9760.jpg" alt="Aderemi" />

<p>github: <a href="https://github.com/AderemiF">link</a></p>
<p>linkedin: <a href="https://www.linkedin.com/in/aderemi-fayoyiwa">link</a></p>

</div>
</body>
{% endblock %}