{% extends "base.html" %}
{% block title %}Modelling{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model</title>
</head>
<body>
    <h1>ML Algorithm used and model training</h1>
    <p>
        Transfer Learning
        Model: CNN(EfficientNetB0)
        Validation accuracy: 74%</p>

        <h1>Technologies Used</h1>  
        <p>Python
            Google Colab
            Github
           Streamlit
            Heroku
         Google Cloud Platform</p>

            <h1>Challenges</h1>
            <p>Limitations
                Computation power
                Time
                Data
                Class imbalance</p>

            <h1>What next</h1>
            <p>Identify more pathologies
               Scalalable
                Classification + Localisation</p>
    
</body>
</html>
{% endblock %}